<h1>Ayuda</h1>

<p>
    En este portal encontrar치 un juego de preguntas. Estas preguntas ser치n de caracter general, y podr치 responderlas escribiendo la respuesta en el cuadro de texto. Se le informar치 sobre si esta es correcta o incorrecta.
</p>

